<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= brand.brand_name %> | MUSIC STORE</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <div class="container">
      <%- include("navbar") %>
      <h1 class="heading"><%= brand.brand_name %></h1>
      <h2 class="heading-2">Actions</h2>
      <ul class="flex gap-4">
        <li>
          <a href="/brand/<%= brand.brand_id %>/update" class="btn btn-secondary">Update</a>
        </li>
        <li>
          <a href="/brand/<%= brand.brand_id %>/delete" class="btn btn-secondary">Delete</a>
        </li>
      </ul>
      <h2 class="heading-2">Description</h2>
      <p><%= brand.brand_description %></p>
      <h2 class="heading-2">Items (<%= item_list.length %>)</h2>
      <% if (item_list.length > 0) { %>
        <ul class="list-disc">
          <% item_list.forEach((item) => { %>
            <li class="ml-4">
              <a href="/item/<%=item.id%>" class="link">
                <%= item.brand_name + " | " + item.name %>
              </a>
            </li>
          <% }) %>
        </ul>
      <% } else { %>
        <p>No items for now...</p>
      <% } %>
    </div>
  </body>
</html>
