<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= brand.brand_name %> | MUSIC STORE</title>
  </head>
  <body>
    <%- include("navbar") %>
    <h1><%= brand.brand_name %></h1>
    <h2>Actions</h2>
    <ul>
      <li>
        <a href="/brand/<%= brand.brand_id %>/update">Update</a>
      </li>
      <li>
        <a href="/brand/<%= brand.brand_id %>/delete">Delete</a>
      </li>
    </ul>
    <h2>Description</h2>
    <p><%= brand.brand_description %></p>

    <h2>Items (<%= item_list.length %>)</h2>
    <% if (item_list.length > 0) { %>
      <ul>
        <% item_list.forEach((item) => { %>
          <li>
            <a href="/item/<%=item.id%>">
              <%= item.brand_name + " | " + item.name %>
            </a>
          </li>
        <% }) %>
      </ul>
    <% } else { %>
      <p>No items for now...</p>
    <% } %>
  </body>
</html>
