<% 
const brand = locals.brand || { brand_name: "", brand_description: ""} 
const { brand_name, brand_description } = brand
%>

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %> | MUSIC STORE</title>
  </head>
  <body>
    <%- include("navbar") %>
    <h1><%= title %></h1>

    <form action="<%= locals.brand ? `/brand/${brand.brand_id}/update` : "/brand/new" %>" method="POST">
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="<%= brand_name %>" required />
      </div>

      <div>
        <label for="desc">Description:</label>
        <textarea id="desc" name="desc"><%= brand_description %></textarea>
      </div>

      <button type="submit"><%= title %>></button>
    </form>
  </body>
</html>
