<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %> | MUSIC STORE</title>
  </head>
  <body>
    <%- include("navbar") %>
    <h1><%= title %></h1>

    <a href="/category/new">Create a new category</a>

    <% if (category_list && category_list.length > 0) { %>
      <ul>
        <% category_list.map((category) => { %>
          <li>
            <a href="/category/<%= category.category_id %>">
              <%= category.category_name %>
            </a>
          </li>
        <% }) %>
      </ul>
    <% } else { %>
      <p>No categories for now...</p>
    <% } %>
  </body>
</html>
