<% 
const category = locals.category || { category_name: "", category_description: ""} 
const { category_name, category_description } = category
%>

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %> | MUSIC STORE</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <div class="container">
      <%- include("navbar") %>
      <h1 class="heading"><%= title %></h1>
      <form action="<%= locals.category ? `/category/${category.category_id}/update` : "/category/new" %>" method="POST" class="max-w-[24rem] flex flex-col gap-4">
        <div>
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" value="<%= category_name %>" required class="block w-full mt-1" />
        </div>
        <div>
          <label for="desc">Description:</label>
          <textarea id="desc" name="desc" class="block w-full mt-1"><%= category_description %></textarea>
        </div>
        <button type="submit" class="btn"><%= title %></button>
      </form>
    </div>
  </body>
</html>
