<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %> | MUSIC STORE></title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <div class="container">
      <%- include("navbar") %>
      <h1 class="heading"><%= title %></h1>
      <% if (item_list && item_list.length > 0) { %>
        <p class="mb-4">You need to delete the following items or change those item category before deleting this category:</p>
        <ul class="list-disc">
          <% item_list.map((item) => { %>
            <li class="ml-4">
              <a href="/item/<%= item.id %>" class="link"><%= `${item.name} by ${item.brand_name}` %></a>
            </li>
          <% }) %>
        </ul>
      <% } else { %>
        <p class="mb-2">Do you really want to delete this category?</p>
        <p class="mb-4 font-bold"><%= category.category_name %></p>
        <form action="/category/<%= category.category_id %>/delete" method="POST">
          <button type="submit" class="btn btn-alert">Confirm</button>
        </form>
      <% } %>
    </div>
  </body>
</html>
