<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= item.name + " by " + item.brand_name %> | MUSIC STORE</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <div class="container">
      <%- include("navbar") %>
      <h1 class="heading"><%= item.name + " by " + item.brand_name %></h1>
      <h2 class="heading-2">Actions</h2>
      <ul class="flex gap-4">
        <li>
          <a href="/item/<%= item.id %>/update" class="btn btn-secondary"
            >Update</a
          >
        </li>
        <li>
          <a href="/item/<%= item.id %>/delete" class="btn btn-secondary"
            >Delete</a
          >
        </li>
      </ul>
      <h2 class="heading-2">Description</h2>
      <p><%= item.description %></p>
      <h2 class="heading-2">Infos</h2>
      <ul>
        <li>Price: $<%= item.price_in_dollar %></li>
        <li>Quantity in stock: <%= item.stock_quantity %></li>
        <li>
          Brand:
          <a href="/brand/<%= item.brand_id %>" class="link"
            ><%= item.brand_name %></a
          >
        </li>
        <li>
          Category:
          <a href="/category/<%= item.category_id %>" class="link"
            ><%= item.category_name %></a
          >
        </li>
      </ul>
    </div>
  </body>
</html>
