<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %> | FileUploader</title>
  </head>
  <body>
    <h1><%= title %></h1>

    <p><a href="<%= locals.backFolderId ? `/folder/${backFolderId}` : "/" %>">Go back</a></p>

    <% if (locals.errors) { %>
      <ul>
        <% errors.map((error) => { %>
          <li><%= error.msg %></li>
        <% }) %>
      </ul>
    <% } %>

    <form method="POST">
      <div>
        <label for="name">Folder name:</label>
        <% if (locals.currentFolder) { %>
          <input type="text" id="name" name="name" value="<%= currentFolder.name %>" required />
        <% } else { %>
          <input type="text" id="name" name="name" required />
        <% } %>
      </div>
      <button type="submit"><%= buttonText %></button>
    </form>
  </body>
</html>
